/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}
